

.planning/
.agent/
.gemini/
.gsd/
.skills/
.vscode/
.cline/
.claude/

__pycache__/
*.pyc
skills/
*.pth
!app/infrastructure/ml_models/nuclick_torch/weights/nuclick.pth
*.zip
.DS_Store
.env
.venv/
venv/
.icloud/
dist/
/build/
skills/
*.exe
.gitnexus
AGENTS.md
CLAUDE.md