[submodule "CellViT"]
	path = CellViT
	url = https://github.com/TIO-IKIM/CellViT

[submodule "napari-dinoSim"]
	path = napari-dinoSim
	url = https://github.com/AAitorG/napari-dinoSim

[submodule "patho-sam"]
	path = patho-sam
	url = https://github.com/computational-cell-analytics/patho-sam

