

.agent/
.gemini/
.gsd/
.skills/
.vscode/
.cline/
.claude/

__pycache__/
*.pyc
skills/
*.pth
*.zip
.DS_Store
.env
.venv/
venv/
.icloud/
hooks/
dist/
build/
skills/
*.exe
.gitnexus
AGENTS.md
CLAUDE.md