# Runtime dependencies
--extra-index-url https://download.pytorch.org/whl/cu124
Pillow>=10.4.0
openpyxl>=3.1.0
PyQt6>=6.0.0
openslide-python>=1.3.1
openslide-bin>=1.4.3
torch==2.6.0+cu124
torchvision==0.21.0+cu124
cellpose>=4.0,<5.0
scikit-image>=0.21.0
